# OSX files
.DS_Store
Icon\r
*\**\Icon\r

# Windows files
desktop.ini

# data files
dat/*
~*.pptx

# notes
notes.txt
todo.txt

# R project cache
.Rproj.user/*

# misc R files
*.Rhistory
*.RData

# compiled files
*.rds

# figures
#figures/*
#*.pdf
#*.png

# notes
*.doc
*.docx

# SCoPE example files
2017_SCoPE-MS_manuscript/*

# old figures
old_figures/*

# no shiny
ShinyRT/*
.Rproj.user

# generated TEX files
manuscript/*.aux
manuscript/*.bbl
manuscript/*.bcf
manuscript/*.blg
manuscript/*.log
manuscript/*.out
manuscript/*.run.xml
manuscript/*.gz
manuscript/*.pdf

# misc fig folders
papers/*
validation_figs/*
validation_figs_cosine/*
tmp_figs/*
exp_fits/*
exp_fits_linear/*
exp_fits_pd/*
linear_v_segmented_figs/*
pca_plots/*

# python
# ignore notebooks
python/*.ipynb
python/.ipynb_checkpoints/*
python/alignment/**/*
python/rt_update/**/*
python/cached-model*
python/rtlib/cached_fits/**/*
python/rtlib/fits/*.pkl
__pycache__/

Figures/**/*
Alignments/**/*

# sublime files
*.sublime-project
*.sublime-workspace
