# OSX files
.DS_Store
Icon\r
*\**\Icon\r

# Windows files
desktop.ini

# data files
dat/*
~*.pptx
Keratins.txt
pd_exclude.txt

# notes, personal files
notes.txt
todo.txt
todo_new.txt
rsync_exclude.txt
copy_to_gdrive.sh

# R project cache
.Rproj.user/*
*.Rproj

# misc R files
*.Rhistory
*.RData

# compiled files
*.rds

# figures
#figures/*
#*.pdf
#*.png
manuscript/Figs/*.pdf

# notes
*.doc
*.docx

# SCoPE example files
2017_SCoPE-MS_manuscript/*

# old figures
old_figures/*

# no shiny
ShinyRT/*
.Rproj.user

# all manuscript files
manuscript/**/*

# misc fig folders
papers/*

# python
# ignore notebooks
*.ipynb
.ipynb_checkpoints/**/*
dart_id/models/*.pkl
__pycache__/

Figures/**/*
Alignments/**/*

# sublime files
*.sublime-project
*.sublime-workspace

# testing file
testing.sh

# jupyter notebooks
python_notebooks/**/*

# binary builds of tools
tools/**/bin/*
tools/**/*.o

# for now, don't track fido cpp files
tools/fido/*
# fido outputs/intermediates for testing
psm_graph.txt
target_decoy.txt
fido_out.txt

# personal shell scripts
update.sh
figures.sh
converter.sh
collator.sh
align.sh

# spyder project
.spy*
test/**/*

# vscode files
.vscode/**/*
*.code-workspace

# built distributions/wheels
dist/**
dart_id.egg-info/**
dart_id_fresca.egg-info/**
build/**

# old config files
config_files/old_config_files/*

# dev scripts
build_dist.sh
build_dist_test.sh
figures_testing.py
gen_figures.sh
install_test_package.sh
upload_pypi.sh
upload_test_pypi.sh

# Website files
docs/package-lock.json
