include README.md LICENSE.txt setup.py

# exclude OS-specific filesystem files
# OSX files
global-exclude .DS_Store Icon\r

# Windows files
global-exclude desktop.ini

# default config file and config file schema
include dart_id/config/*

# STAN files
include dart_id/models/*

# model binaries. have to do this manually for now...
include dart_id/models/fit_RT3e/mac/*
include dart_id/models/fit_RT3e/windows/*
include dart_id/models/fit_RT3e/linux_generic/*
include dart_id/models/fit_RT3e/rhel/*
include dart_id/models/fit_RT3e/debian/*

# Include notebooks
include dart_id/notebooks/dart_id_report.ipynb

# fido scripts
include dart_id/fido/*
